.header{
    font-size: 18px;
    font-weight: 600;
}
.row{
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    display: flex;
}
.col {
  flex: 1 0 0%;
}
.hidden{
  display: none;
}
.pb-6{
  padding-bottom: 6px;
}
.status{
  font-style: italic;
  font-weight: 600;
  font-size: 11px;
  color: red;
}
#save{
  font-size: 11px;
  font-weight: 600;
  background: #1da58d;
  color: white;
}
#cancel{
  font-size: 11px;
  font-weight: 600;
  border: 1px solid #1da58d;
}
#new_schema select{
  margin-left: 29px;
  width: 66%;
}
.mr-15,#new_schema{
  margin-right: 15px;
}
#legends{
  float: right;
}
.user-dot{
  position: relative;
  top: 2px;
  height: 13px;
  width: 13px;
  background-color: #0eeb0e;
  border-radius: 50%;
  display: inline-block;
}
.group-dot{
  position: relative;
  top: 2px;
  height: 13px;
  width: 13px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.newschemalabl{
  cursor: pointer;
}
option{
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
}
.segg{
  font-weight: 800;
  cursor: pointer;
}
#delete_new_selected_option{
  cursor: pointer;
  padding-right: 1px;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 700;
}
select{
  padding: 5px;
    height: 36px;
    border: 1px solid #ccc;
    width: 63%;
    border-radius: 6px;
}
#delete_selected_option{
  cursor: pointer;
  padding-right: 1px;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 700;
}
.selectedoptions{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: -12px;
}
#content{
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 0px;
  margin-left: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
#cancel{
  left: 150px !important;
}
.bottom-btn{
  left: 10px;
  position: absolute;
  bottom: 28px;
}
.newschemalabl{
  color: #1da58d;
  font-size: 12px;
  text-decoration: underline;
}
.optionss{
  padding-bottom: 11px;
}

.active{
  background-color: black;
}
/* .navbar-inverse .navbar-nav>li>a {
  color: #000000;
} */
.seg{
  position: relative;
  top: 6px;
  font-size: 20px;

}
Modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  /* top: 0; */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  position: relative;
  left: 36%;
  /* top: -16%; */
  height: 103%;
  width: 28% !important;
  margin: auto;
  padding: 0;
  /* border: 1px solid #000; */
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
@-webkit-keyframes animatetop {
  from {right:-300px; opacity:0} 
  to {right:0; opacity:1}
}

@keyframes animatetop {
  from {right:-300px; opacity:0}
  to {right:0; opacity:1}
}